/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* ===== Section Styling ===== */
section {
  padding: 100px 20px; /* Adjusted for fixed header */
  min-height: 100vh;
}

/* ===== Footer ===== */

footer {
  background-color: #87ceeb; /* Light Blue */
  display: flex;
  align-items: center;
  justify-content: centerS;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* ===== Global Styles ===== */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}
